//
//  Debug.xcconfig
//  ARK-iOS
//
//  Copyright 2022 Thoughtworks, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Shared.xcconfig"
#include "../Pods/Target Support Files/Pods-ARK-iOS/Pods-ARK-iOS.uat.xcconfig"

PRODUCT_NAME = $(inherited).$(MARKETING_VERSION).uat
