//
//  Debug.xcconfig
//  ARK-iOS
//
//  Copyright 2022 Thoughtworks, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "App-Shared.xcconfig"
#include "../Pods/Target Support Files/Pods-ARK-iOS/Pods-ARK-iOS.staging.xcconfig"

CONFIGURATION_SUFFIX = .staging
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) COCOAPODS=1 STAGING=1
