//
//  Shared.xcconfig
//  ARK-iOS
//
//  Copyright 2022 Thoughtworks, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//

HOST_TARGET_NAME = ARK
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1

HOST_PRODUCT_NAME = $(HOST_TARGET_NAME).$(MARKETING_VERSION).$(CURRENT_PROJECT_VERSION)$(CONFIGURATION_SUFFIX)
TEST_HOST = $(BUILT_PRODUCTS_DIR)/$(HOST_PRODUCT_NAME).app/$(HOST_PRODUCT_NAME)
