//
//  Shared.xcconfig
//  ARK-iOS
//
//  Copyright 2022 Thoughtworks, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TARGET_NAME = ARK
MARKETING_VERSION = 1.0.0
PRODUCT_BUNDLE_IDENTIFIER = com.thoughtworks.ios.ark

