//
//  Test.xcconfig
//  ARK-iOS
//
//  Copyright 2022 Thoughtworks, Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Basic.xcconfig"
#include "../Pods/Target Support Files/Pods-ARK-iOSTests/Pods-ARK-iOSTests.debug.xcconfig"

CONFIGURATION_SUFFIX = .debug

